global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "user-service"
    metrics_path: "/metrics"
    static_configs:
      - targets: ["user-service:8000"]

  - job_name: "notification-service"
    metrics_path: "/metrics"
    static_configs:
      - targets: ["notification-service:8001"]
